@charset "utf-8";


body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	/*background: #666666; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color:#FFFFFF;
}




.VisualizationMainPage #mainContent {
	/*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
	float: left;
	width: 1115px;
	height: 590px;
	/* background-image: url("FARAON-LOVE-SHADY.jpg"); */
	background-color: #FFFFFF;
	background-repeat: no-repeat, repeat;
}
.VisualizationMainPage canvas {
	
	background: #FFFFFF;
	/* background-image: url("FARAON-LOVE-SHADY.jpg"); */
	background-repeat: no-repeat, repeat;
	background-size: 100%;
}
.VisualizationMainPage #pseudocodigo {
	
	
	width: 467px;
	height: 590px;
	background-color:rgb(203, 255, 193);
	float:right;
	
}

.VisualizationMainPage #pseudocodigo img{
	
	
	margin: auto;
	border: 1px solid blue;
	margin-top: 20%;
	transform: translateX(25%);
}
.VisualizationMainPage #container {


	background: #FFFFFF;
	/*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	
	
}


.VisualizationMainPage #algoControlSection
{
	background: #DDEEDD; 
	color:#000000; 
	width: 100%;

}


.VisualizationMainPage #generalAnimationControlSection
{
	background: #DDEEDD; 
	color:#006600; 

}

.VisualizationMainPage  #header { 
	background: #FFFFFF; 
	color:#ffCC33;
	padding: 0 0px 0 0px; 
  
} 






 
.VisualizationMainPage #header  A:visited 
	  { text-decoration:none;
        color:#ffCC33; 
	   }
	   
	   
.VisualizationMainPage #header h1 {
	margin: 0; 
	padding: 10px 0; 
	}
	   
.VisualizationMainPage #header A:link {
    text-decoration:none;
    color:#ffCC33;
	}
	
	
.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	
	
	
.VisualizationMainPage #footer  A:visited { text-decoration:none;
        color:ffcc33; 
}

.VisualizationMainPage #footer A:link {
    text-decoration:none;
	color:#ffCC33;
}


	

.VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}



footer{
	
	background-color: rgba(0, 0, 0, 0.938);
	color:black;
	
} 
.VisualizationMainPage #footer p {
	margin: 0; 	padding: 1	0px 0; 
}

EM {text-decoration: bold;}

	
